.brands {
    @include margin-block(80px, 30px);

    h3 {
        text-align: center;
    }

    .brand-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .brand-item {
            width: 170px;
            @include margin-inline(10px);
            // border: 1px solid red;

            img {
                width: 100%;
            }
        }

    }

}