//*?  GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

//*? CSS RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    // width: 100vw;
    // height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

h1, h2, h3 {
    letter-spacing: 2px;
}

p {
    text-align: justify;
}

.text-shadow {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.418);
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    @include margin-inline(auto);
}

.box-shadow-m {
    box-shadow:
        1px 2px 2px hsl(0deg 0% 30% / 0.5),
        2px 4px 4px hsl(0deg 0% 30% / 0.5),
        4px 8px 8px hsl(0deg 0% 30% / 0.3);
}

.box-shadow-l {
    box-shadow:
        1px 2px 2px hsl(0deg 0% 30% / 0.1),
        2px 4px 4px hsl(0deg 0% 30% / 0.1),
        4px 8px 8px hsl(0deg 0% 30% / 0.1),
        8px 16px 16px hsl(0deg 0% 30% / 0.1),
        16px 32px 32px hsl(0deg 0% 30% / 0.1);
}

.animalo {
    opacity: 0;
}

.btn {
    padding: 6px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.301);

    &.btn-primary {
        background-color: $light;
        color: $dark;
        font-weight: 500;
        transition: background-color ease 350ms;

        &:hover {
            background-color: $dark-light;
            color: $light;
        }
    }
}